.app-container {
    width: 100%;
    background-color: #fff;
}

.sidePanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: visible;
}

.sidePanel.show {
  visibility: visible;
  width: 25rem;
}

.sidePanel.hide {
    visibility: visible;
    width: 2rem;
}

.data-container {
    width: 100%;
}

.region-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
}
/* Final Four Styling */
.ff-container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 36rem;
    align-items: center;
    text-align: center;
}

.round-container-ff {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem 16rem 16rem;
    align-items: center;
}
.round-container-ff .game-container {
    height: 8rem;
    align-self: center;
}

.round-container-ch {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem 32rem;
    align-items: center;
}
.round-container-ch .game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16rem;
}

.round-container-ch {
    align-items: center;
}

/* Tourney Round Styling (non Final Four) */
.tourney-region {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 36rem;
    align-items: center;
    text-align: center;
}
.round-container {
    align-items: center;
}
.round-container.left {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem 8rem 8rem 8rem 8rem;
};
.round-container.left .game-container {
    height: 8rem;
}
.round-container.center {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem 16rem 16rem;
    justify-content: center;
}
.round-container.center .game-container {
    height: 8rem;
}
.round-container.right {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem 32rem;
    justify-content: center;
}
.round-container.right .game-container {
    height: 16rem;
}

.game-container {
    background-color: rgb(250, 246, 246);
    display: flex;
    flex-direction: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 100%;
    align-items: center;
    border-right: 1px solid black;
    width: 100%;
    min-height: 5rem;
}
.score-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.team-container.green {
    color: green;
}

/* Sidebar */

.panel-table {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: space-around;
    padding-left: 0.5rem;
}
.panel-entry {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: start;
    align-items: center;
    padding-left: 0.5rem;
}

.panel-entry-title {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
    width: 100%;
}
.panel-entry-title div {
    margin-left: 1rem;
    margin-right: 1rem;
}

.panel-entry-title button {
    display: none;
}

@media (max-width: 767px) { 
  .panel-entry-title.is-collapsible button{
    display: inline;
  }
}