.app-container {
    width: 100%;
    border: 1px solid green;
}
.sidePanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: visible;
}

.sidePanel.show {
  visibility: visible;
  width: 25rem;
}

.sidePanel.hide {
    visibility: visible;
    width: 2rem;
}

.data-container {
    width: 100%;
    border: 1px solid red;
}

.region-container {
    position: relative;
    width: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}
/* Final Four Styling */
.ff-container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 32rem;
    align-items: center;
}

.round-container-ff {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16rem 16rem;
}
.round-container-ff .game-container {
    height: 8rem;
    align-self: center;
}

.round-container-ch {
    border: 1px solid orange;
    height: 16rem;
}
.round-container-ch .game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Tourney Round Styling (non Final Four) */
.tourney-region {
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 32rem;
    align-items: center;
}
.round-container.left {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8rem 8rem 8rem 8rem;
};
.round-container.left div {
    border: 2px solid blue;
}
.round-container.center {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
}
.round-container.center .game-container {
    height: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 2px solid red;
}
.round-container.right {
    height: 12rem;
    display: block;
    border: 1px solid orange;
    align-items: center;
    justify-content: center;
}
.round-container.right .game-container {
    height: 8rem;
    border: 1px solid green;
    margin-top: 2rem;

}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid pink;
    width: 100%;
    min-height: 5rem;
}
.team-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid orange;
    width: 100%;
}
.team-container.green {
    color: green;
}

/* Sidebar */

.panel-table {
display: flex;
flex-direction: column;
white-space: nowrap;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
justify-content: space-around;
}
.panel-entry {
display: flex;
flex-direction: column;
white-space: nowrap;
justify-content: start;
align-items: center;
border: 1px solid red;
}

.panel-entry-title {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    justify-content: center;
    font-weight: bold;
    border: 1px solid black;
    width: 100%;
}

.panel-entry-title button {
    display: none;
}

@media (max-width: 767px) { 
  .panel-entry-title.is-collapsible button{
    display: inline;
  }
}