.bracketView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.selectorContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 60vw;
}

.regionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    padding: 0.25rem;
}
.regionContainer {
    margin-bottom: 3rem;
    background-color: #efefef;
    padding-top: 1rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    min-width: 70vw;
    max-width: 95vw;
}
.regionContainer#region-FinalFour {
    min-width: 40vw;
}
.regionContainer .regionRounds {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.regionContainer .regionName {
    grid-row: 1;
    text-align: center;
}
.regionRounds .round {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
    list-style-type: none;
    margin-right: 0;
}

.regionRounds .round .game .team-top{
    border-bottom: 1px solid black;
    align-items: flex-end;
}
.regionRounds .round .game .team-bottom{
    border-top: 1px solid black;
    align-items: flex-start;
}
.game li {
    max-width: 10rem;
    min-width: 10rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: visible;
    overflow-y: visible;
}
.game li span{
    white-space: nowrap;
}
#round-1 .game .spacer {
    line-height: 1;
}
#round-2 .game .spacer {
    line-height: 6.5;
}
#round-3 .game .spacer {
    line-height: 10;
}
#round-4 .game .spacer {
    line-height: 16;
}

.game .winner {
    font-weight: bold;
}
.game .correct {
    color: green
}
.game .incorrect {
    color: red
}
.spacer {
    border-right:1px solid #aaa;
    min-height: 3rem;
}
.regionRounds .round .game li{
    list-style: none;
}

@media (max-width: 760px){
    .selectorContainer {
        display: flex;
        flex-direction: column;
    }
    .selectorContainer div {
        padding-bottom: 0.25rem;
    }
    .matchupContainer {
        flex-direction: column;
    }
    .regionContainer .regionRounds {
        align-self: flex-start;
    }
    .regionContainer .regionName{
        align-self: center;
    }

    .teamItem {
        min-height: 25vh;
        min-width: 80vw;
    }
    .selectTeamItem {
        min-height: 25vh;
        min-width: 80vw;
    }

    .matchupResultsContainer {
        min-width: 50vw;
    }
}