.matchupView {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 5rem;
}
.selectorContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 60vw;
}
.selectTeamsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}
.compareTeams {
    overflow-y: auto;
    text-align: center;
    min-width: 50rem;
}
.compareTeamsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.compareTeamsHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    font-weight: bold;
}
.compareTeamsElement {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

}
.teamItem {
    background-color: #E9E9E9;
    min-height: 40vh;
    max-height: 40vh;
    min-width: 25vw;
}
.teamItemName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.selectTeamItem {
    background-color: #E9E9E9;
    min-height: 40vh;
    max-height: 40vh;
    min-width: 25vw;
}

.teamItem .teamItemBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}
.teamItemFeatures {
    overflow-y: scroll;
}
.matchupResultsContainer {
    background-color: #E9E9E9;
    text-align: center;
    min-width: 33vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 760px){
    .selectorContainer {
        display: flex;
        flex-direction: column;
    }
    .selectTeamsContainer {
        flex-direction: column;
    }

    .teamItem {
        min-height: 25vh;
        min-width: 80vw;
    }
    .selectTeamItem {
        min-height: 25vh;
        min-width: 80vw;
    }

    .matchupResultsContainer {
        min-width: 50vw;
    }
    .compareTeams {
        min-width: 80vw;
    }
}