#root {
  background-color: black;
  color:#ccc;
}
.team-header {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.team-search-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 100%;
  max-width: 10rem;
}
.team-search-bar .search-results {
  direction: rtl;
  overflow-y: auto;
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 100%;
  width: calc(100% - 2px);
  z-index: 999;
  max-height: 10rem;
  background-color: yellow;
}
.team-search-bar .search-results li {
  list-style: none;
  border: 1px solid #ccc;
  padding-right: 0;
}
/* Horizontal Table */
.team-data-table {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-around;
}
.team-data-table-entry {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid red;
}

.team-data-table-entry-title {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  justify-content: center;
  font-weight: bold;
  border: 1px solid black;
  width: 100%;
}

.vertical-data {
  display: flex;
  flex-direction: column;
  border: 1px solid orange;
  overflow-y: scroll;
  width: 100%;
}
.team-stats-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid yellow;
  justify-content: space-around;
}
.team-stats-chart {
  border: 1px solid green;
  max-width: 100%;
}

/* Types of Table Values */
.stat-value {
  text-align: center;
  padding: 0.5rem;
}
.quad-game {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  justify-content: space-between;
  width: 100%;
  min-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* Align divs in the middle vertically */
  align-items: center;
}
.quad-game div {
  /* padding: 0.5rem; */
  border: 1px solid red;
}

.team-data-table-entry-title button{
  display: none;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .team-header {
    width: 100%;
    border: 1px solid blue;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 50% 25%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .team-data-table-entry-title.is-collapsible button{
    display: inline;
  }
  .team-data-table {
    display: flex;
    flex-direction: column;
  }  
  /* Turn it into a grid with 1 row and 2 columns (split 75 / 25) */
  .team-data-table-entry {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 75% 25%;
    border: 1px solid red;
    width: 100%;
  }

  .team-data-table-entry.is-collapsible{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid blue;
  }

  .team-stats-data {
    flex-direction: column;
    justify-content: space-around;
  }
}

/* Media query for desktop devices */
@media (min-width: 768px) {
}